body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    li{
        list-style: none;
    }
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #464646;
    background-color: #000;
    nav{
        width: 97%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            background-color: transparent;
            border: 1px solid #464646;
            border-radius: 2px;
            padding: 4px 8px;
            outline: none;
            display: none;
            color: #fff;
        }
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 45%;
            height: 100%;
            li{
                font-weight: 600;
                font-size: 1.15rem;
                color: #fff;
                line-height: 93px;
                padding-top: 10px;
                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 3px;
                    background-color: #5451cf;
                    border-radius: 3px;
                    transition: all 600ms;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }
            // .active{
            //     &::after{
            //         content: '';
            //         display: block;
            //         width: 100%;
            //         height: 3px;
            //         background-color: #5451cf;
            //         border-radius: 3px;
            //         transition: all 600ms;
            //     }
            // }
        }
        .i-con{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color:#fff;
            form{
                border: 1px solid #000;
                border-radius: 42px 38px;
                padding: 4px 12px;
                input{
                    background: none;
                    border: none;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    header{
       nav{
        button{
            display: block;
        }
        ul{
            display: none;
        }
        .i-con{
            display: none;
        }
       }
} 
#home{
    height: auto;
}
}

// Home Section
#home{
    width: 100%;
    height: 100vh;
    background-image: url('https://preview.colorlib.com/theme/megapod/img/hero/hero-bg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 140%;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        img{
            width: 100%;
            height: 100%;
        }
        .row{
            .col-lg-6{
                .date{
                    display: flex;
                    align-items: center;
                    i{
                        color: #5451cf;
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: 1.2rem;
                        color: #fff;
                        padding-top: 16px;
                        margin-left: 12px;
                    }
                }
                h1{
                    font-size: 4rem;
                    color: #fff;
                }
                .but-con{
                    display: flex;
                    button{
                        padding: 12px 14px ;
                        border-radius: 6px;
                        outline: none;
                        border: none;
                        margin-right: 14px;
                        font-weight: 600;
                        &:first-child{
                            background-color: #5451cf;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.section-bottom{
    background-color: #161535d0;
    padding:  14px;
    .container{
        .row{
            .col-lg-4{
                display: flex;
                align-items: center;
                    color: #fff;
                img{
                    border-radius: 50%;
                    margin-right: 10px;
                }
                .fa-play{
                    background-color: #5451cf;
                    border-radius: 50%;
                    padding: 12px 14px;
                    color: #fff;
                    cursor: pointer;
                }
            }
            .th-col{
                justify-content: center;
                align-items: center;
            }
            .control{
                justify-content: space-between;
                div{
                    width:55%;
                    height: 3px ;
                    background-color: #858484;
                }
            }
        }
    }
}
// Live Section

#live{
    padding-top: 25px;
    .container{
        .row{
            .col-lg-6{
                h2{
                    color: #353535;
                }
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li{
                        color: #b7b9bc;
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
// Cards
.my-card{

    border: 1px solid #858484;
    border-radius: 14px;
    display: flex;
    align-items: center;
    overflow: hidden;
    .card-r{
        padding: 0 15px;
        .i-con{
            display: flex;
            margin: 6px 0;
            span{
                color: #b7b9bc;
                margin: 0 20px 0 0;
                i{
                    color: #5451cf;
                }
            }
        }
        .title{
            color: #353535;
            font-size: 1.8rem;
            font-weight: 600;
            margin: 5px 0;
        }
        .body{
            font-size: .9rem;
            color: #858484;
            margin: 8px 0;
        }
        .my-lg{
            display: flex;
            align-items: center;
            color: #353535;
            img{
                border-radius: 50%;
                margin-right: 10px;
            }
            .fa-play{
                background-color: #5451cf;
                border-radius: 50%;
                padding: 12px 14px;
                color: #fff;
                cursor: pointer;
            }
        }
        .th-col{
            justify-content: center;
            align-items: center;
            span{
                margin-right: 15px;
                i{
                    margin-right: 10px;
                }
            }
        }
        .control{
            justify-content: space-between;
            div{
                width:55%;
                height: 3px ;
                background-color: #858484;
            }
        }
    }
}
// Support Section
#support{
    width: 100%;
    height: 60vh;
    background-image: url('https://preview.colorlib.com/theme/megapod/img/call-bg.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
    h2{
        font-size: 3rem;
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 1.5rem;
    }
    button{
        background-color: #5451cf;
        font-weight: 600;
        padding: 10px 16px;
        border-radius: 7px;
        outline: none;
        border: none;
        color: #fff;
    }
}